<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
 <form action="/team" method="post">
   <input type="text" value="Team Name" name="name"><br>
   <input type="text" value="Coach" name="coach"><br>
   <input type="text" value="Point Guard" name="pg"><br>
   <input type="text" value="Shooting Guard" name="sg"><br>
   <input type="text" value="Power Forward" name="pf"><br>
   <input type="text" value="Small Forward" name="sf"><br>
   <input type="text" value="Center" name="c"><br>
   <input type="submit" value="Submit" name="Submit" id="Submit'">
 </form>
 </body>
</html>


