<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
    <form method="post" action="/team">
        <label for="name">Team Name: <input name="name" id="name"></label><br><br>
        <label for="coach">Coach: <input name="coach" id="coach"></label><br><br>
        <label for="pg">Point Guard: <input name="pg" id="pg"></label><br><br>
        <label for="sg">Shooting Guard: <input name="sg" id="sg"></label><br><br>
        <label for="sf">Small Forward: <input name="sf" id="sf"></label><br><br>
        <label for="pf">Power Forward: <input name="pf" id="pf"></label><br><br>
        <label for="c">Center: <input name="c" id="c"></label><br><br>
        <input type="submit" id="Submit" value="Submit">
    </form>
 </body>
</html>


